<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head(title=${title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="admin-add-container">
    <form class="admin-add-form" th:object="${post}" th:action="@{/admin/posts/add}" method="post">
        <div class="form-group py-2">
            <label class="px-1" for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter Title" required>
        </div>
        <div class="form-group py-2">
            <label class="px-1" for="author">Author</label>
            <input type="text" class="form-control" id="author" th:field="*{author}" placeholder="Enter Author" required>
        </div>
        <div class="d-flex flex-row">
            <div class="form-group py-2 me-3">
                <label class="px-1" for="countryType">Country</label>
                <select th:field="*{countryType}" class="form-select" id="countryType" required>
                    <option selected value="">Select a Country</option>
                    <option th:each="country : ${countryList}" th:text="${country.name}" th:value="${country}">Choose...</option>
                </select>
            </div>
            <div class="form-group py-2 me-3">
                <label class="px-1" for="categoryType">Category</label>
                <select th:field="*{postType}" class="form-select" id="categoryType" required>
                    <option selected value="">Select a Category</option>
                    <option th:each="category : ${categoryList}" th:text="${category.name}" th:value="${category}">Choose...</option>
                </select>
            </div>
            <div th:if="*{id == null}" class="form-group py-2 me-3">
                <label class="px-1" for="date-local">Date</label>
                <input type="date" class="form-control" id="date-local" name="localDate" required/>
            </div>
            <div th:if="*{id != null}" class="form-group py-2 me-3">
                <label class="px-1" for="date-local">Date</label>
                <input type="date" class="form-control" id="date-local" name="localDate" th:value="*{localDateTime.toLocalDate()}" required/>
            </div>
            <div  th:if="*{id == null}" class="form-group py-2">
                <label class="px-1" for="time-local">Time</label>
                <input type="time" class="form-control" id="time-local" name="localTime" required/>
            </div>
            <div  th:if="*{id != null}" class="form-group py-2">
                <label class="px-1" for="time-local">Time</label>
                <input type="time" class="form-control" id="time-local" name="localTime" th:value="*{#temporals.format(localDateTime.toLocalTime(), 'HH:mm:ss')}" required/>
            </div>
        </div>
        <div class="form-group py-2">
            <label class="px-1" for="content">Content</label>
            <textarea rows="6" type="text" class="form-control" id="content" placeholder="Enter content..." th:field="*{content}" required></textarea>
        </div>
        <div class="d-flex flex-row">
            <div class="form-group py-2 me-3">
                <label class="px-1" for="sources">Sources</label>
                <select th:field="*{sources}" class="form-select" id="sources" multiple aria-label="multiple select example" required>
                    <option selected value="">Select Sources</option>
                    <option th:each="source : ${sourceList}" th:text="${source.url}" th:value="${{source}}">Choose...</option>
                </select>
            </div>
            <div class="form-group py-2">
                <label class="px-1" for="tags">Tags</label>
                <select th:field="*{tags}" class="form-select" id="tags" multiple aria-label="multiple select example" required>
                    <option selected value="">Select Tags</option>
                    <option th:each="tag : ${tagList}" th:text="${tag.name}" th:value="${{tag}}">Choose...</option>
                </select>
            </div>
        </div>

        <input hidden th:field="*{id}">
        <input hidden th:field="*{image}">

        <div class="d-flex flex-row justify-content-center py-5">
            <button type="submit" class="btn btn-primary me-3">Submit</button>
            <a class="btn btn-secondary me-3" th:href="@{/admin/posts}">View Posts</a>
            <a class="btn btn-secondary" th:href="@{/}">Go Home</a>
        </div>
    </form>
</div>

</body>
</html>