<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer h-25" th:fragment="footer">

    <div class="footer-contents d-flex flex-row w-100">
        <div class="w-100">
            <div>
                <a href="#">About</a>
            </div>
            <div>
                <a href="#">Contact</a>
            </div>
            <div>
                <a href="#">Terms</a>
            </div>
        </div>
        <div class="w-100">
            <div>
                <a href="#">Countries</a>
            </div>
            <div>
                <a href="#">Categories</a>
            </div>
            <div>
                <a href="#">Posts</a>
            </div>
        </div>
        <div class="w-100">
            <div>
                <a href="#">Resources</a>
            </div>
            <div>
                <a href="#">Contact</a>
            </div>
            <div>
                <a href="#">Privacy</a>
            </div>
        </div>
    </div>

</footer>

</body>
</html>