<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <script src="/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</head>
<body>

</body>
</html>